
nav {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url("../img/nav-bg-2.png") center center;

}
header {
  width: 100%!important;
  min-height: 750px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),url("../img/hero.jpeg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  img {
    max-height: 80vh;
    max-width: 80vw;
    width: auto;
    height: auto;
  }
}

footer {
  .content {
    border-top: 1px solid red;
    padding-bottom: 20px;
  }
  .to-top-wrapper {
    font-size: 30px;
    display: block;
    cursor: pointer;
    margin: -25px auto 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    background: #fff;
  }
  .to-top-wrapper .to-top {
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .to-top-wrapper .to-top:hover {
    margin-top: -5px;
  }
  span.fa-heart {
    color: #ff415c;
    font-size: 18px;
    margin: 0 2px;
  }
}